.visitka-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    font-size: 14px;
    
}

.visitka-header h2 {
    margin: 0;
}

.images-icons {
    height: 20px;
    width: 20px;
}

.cosmetolog-info {
    display: flex;
    align-items: center;
    max-width: max-content;
}



.cosmetolog-info img {
    margin-right: 5px;
}

.cosmetolog-info a {
    color: #1e2a24;;
    position: relative;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}


.cosmetolog-info a:after {
 	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: #d7a66f ; 
	content: "";
	transition: width 0.3s ease-out; 
}

a:hover:after,
a:focus:after {
	width: 100%; 
}
.cosmetologist-block-info {
    display: flex;
    gap: 10px;
}

@media  (max-width:550px) {
.visitka-header > *{
  font-size: 14px;
}

.cosmetologist-block-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
}
