.categorytable {
    width: 100%;
    margin-bottom: 20px;
}

.categorytable .category:first-child {
    margin-top: 0;
}

.category {
    font-size: 30px;
    font-family: Cormorant,sans-serif;
    font-style: italic;
    margin: 20px 0px;
    color: #5c2e2e;
}

.position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.position-info {
    display: flex;
    text-align: center;
    justify-content: start;
    transition: background-color 0.5s ease;
}

.position-name {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-basis: 70%;
    flex-grow: 0;
    flex-shrink: 0;
    hyphens: auto;
    /* word-break: break-all; */
}

.down {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}

.up {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}

.name {
   text-align: center;
    flex-grow: 1;
    
}

.unit_price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    text-align: center;
}

.down img {
    width: 15px;
    height: 15px;
}

.up img {
    width: 15px;
    height: 15px;
}

.position-info:hover {
    background-color: #d7a66f;
    border-radius: 5px;
     cursor: pointer;
}

.description {
    border-radius: 5px;
    /* цвет фона сайта */
    background-color: #E0D1B2;
    margin-top: 5px;
     display: block;
     color:#2f2a24;
}


@media  (max-width:500px) {
  .category {
    font-size: 24px;
    margin-bottom: 5px;
}

.categorytable .category:first-child {
    margin-top: 5px;
}
.position {
    font-size: 14px;
}

.position-name {

    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}
}
